 @import "font-awesome-sprockets";
 @import "font-awesome";

 .post {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
 }

 .post-like {
   display: inline-block;
   margin-right: 10px; /* 適宜余白を調整 */
   vertical-align: middle; /* アイコンとテキストを中央揃え */
 }
 
 .post-like p {
   display: inline-block;
   margin-left: 5px; /* アイコンと数字の間に余白を入れる */
   font-size: 14px; /* 適宜フォントサイズを調整 */
   vertical-align: middle; /* アイコンとテキストを中央揃え */
 }

 .star {
   font-size: 20px;
   color: #999;
 }
   
 .star.active {
   color: #f1c40f;
 }
   
 .star:before {
   content: "\2606";
 }
   
 .star.active:before {
   content: "\2605";
 }